In [1]:
import pandas as pd

In [27]:
df = pd.read_json('http://localhost:8000/dre_jobs/GetAllJobs/')
df

,id,code,description,start_date,end_date,status,department,team,customer
0,1,JB1,Paint job for James Hetfield's Cadillac,2021-08-20,2021-08-28,Canceled,"{'id': 2, 'dep_code': 'BDY', 'dep_name': 'Body...","{'id': 3, 'team_code': 'BDY_PNT_', 'team_name'...","{'id': 1, 'name': 'James Hetfield', 'email': '..."
1,2,JB2,Welding the KH cadillac chasis,2021-08-21,None,Scheduled,"{'id': 2, 'dep_code': 'BDY', 'dep_name': 'Body...","{'id': 4, 'team_code': 'BDY_WLD_1', 'team_name...","{'id': 2, 'name': 'Kirk Hammet', 'email': 'k.h..."

In [42]:
df1 = pd.DataFrame()
df1['id'] = df.id
df1['Code'] = df.code
df1['Description'] = df.description
df1['Start Date'] = df.start_date
df1['End Date'] = df.end_date
df1['Status'] = df.status
deps = []
tems = []
cust = []
ride = []
for i in range(len(df)):
    deps.append(df['department'][i]['dep_name'])
    tems.append(df['team'][i]['team_name'])
    cust.append(df['customer'][i]['name'])
    ride.append(df['customer'][i]['ride'])
df1['Department'] = deps
df1['Team'] = tems
df1['Customer'] = cust
df1['Ride'] = ride

df1.to_excel('Job data.xlsx')

In [26]:
df1.to_excel('job data.xlsx', encoding = 'utf8')

In [35]:
for i in range(len(df)):
    print(df['customer'][i]['name'])

James Hetfield
Kirk Hammet